body{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif
    
    
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center
}
.qr-component{
    width: 300px;
    background-color: white;
    padding: 16px 16px 30px 16px;
    text-align: center;
    border-radius: 20px;
    align-self: center;
}
.qr-component img{
    width: 300px;
    border-radius: 10px;
}
.text{
    padding: 10px;
}
.qr-component p:first-of-type{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 23px;
}
.qr-component p:last-of-type{
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    font-size: 16px;
}
